<html>

<template>
    <div class = "container">
        <Header />
    </div>
</template>

<head>
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
</head>
<script>
    import Header from './views/admin'
    export default {
        name: 'App'
        components:{
        Header,
    }
</script>
<style scoped
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
></style>
<body>
    <h3>Admin functions</h3>
    
</body>

</html>