<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <h3>Admin functions</h3> 
    <div id="app">

        <brackets>
        </brackets>

    </div>

    <script src="/main.js"></script>
    
    <script src="/components/Brackets.js"></script>
    
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>

</html>