<html>
<Header>
<li><a href="/admin">Return to Admin Page</a></li>
</Header>
<script>

</script>
<body>
    <h3>Orders:</h3>
    <label for="Order">=Input Order ID:</label>
    <input type="text" id="Price" name="Price" required
       minlength="1" maxlength="10" size="16">
     
    <button onclick="ORDIS()">Display Order</button> 
</body>
</html>
