<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Checkout</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div id="app">
      <div class="nav-bar">
        <li class="banner">Automotive parts store</li>
        <a href="/getParts">
          <li class="item">Products available</li>
        </a>
        <a href="/checkout">
          <li class="item">Cart</li>
        </a>
        <a href="/index">
            <li class="item">Home</li>
        </a>
      </div>
      <h3><br />Checkout</h3>
      <checkout
        :cart="<%=JSON.stringify(cart) %>"
        @remove-Item="removeCart"
      ></checkout>
    </div>

    <script src="/main.js"></script>
    <script src="/components/searchbar.js"></script>
    <script src="/components/checkout.js"></script>
    <script src="/components/productlist.js"></script>
    <script>
      const mountedApp = app.mount("#app");
    </script>
  </body>
</html>
