<html>

<head>
    <title>Credit Card Transaction Result</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
</head>

<body>
    <h3>Credit Card Transaction Result</h3>
    <il>
        <% for (item in data) { %>
            <li>
                <%= item %>: <%= data[item] %>
            </li>
            <% }; %>
    </il>
</body>

</html>