<!DOCTYPE html>
<html lang="en">

<head>
    <title>Credit Card Transaction Result</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <h3>Credit Card Transaction Result</h3>
</body>

</html>