<html>

<head>
    <title>467 project</title>
    <!--Put the style css in this file-->
    <link rel="stylesheet" href="./styles/style.css" />
</head>

<body>
    <h3>Company</h3>
    <ul>
        <li><a href="/getParts">Products Available</a></li>
        <li><a href="/views/warehouse.html">Warehouse</a></li>
        <li><a href="/views/admin.html">Admin</a></li>
    </ul>
</body>

</html>