<html>
  <head>
    <title>Parts Store</title>
  </head>
  <body>
    <h3>Parts Store</h3>
    Starter Store.
    <ul>
      <li><a href="getParts">get all parts</a></li>
      <li><a href="processCC">process a credit card</a></li>
      <li><a href="orders">Order fulfillment</a></li>
    </ul>
  </body>
</html>
