<!DOCTYPE html>
<html lang="en">

<head>
    <title>467 project</title>
    <!--Put the style css in this file-->
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>
    <h3>Company</h3>
    <ul>
        <li><a href="/getParts">Products Available</a></li>
        <li><a href="/warehouse">Warehouse</a></li>
        <li><a href="/admin">Admin</a></li>
    </ul>

    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>

</html>