<html>
    <head>
        <title>467 project</title>
    </head>
    <body>
        <h3>Comapny</h3>
        <ul>
            <li><a href="getParts">Products Available</a></li>
            <li><a href="getwarehouse">Warehouse</a></li>
            <li><a href="getadmin">Admin</a></li>
        </ul>
    </body>
</html>