<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Order fullfillment</title>
    <link rel="stylesheet" type="text/css" href="/order.css" />
  </head>

  <body>
    <header>
      <h1>Order fulfillment</h1>

      <!--navbar at top of page-->
      <div class="navbar">
        <a class="logo" href="#">Parts<span>Store</span></a>

        <nav>
          <!--Navbar button(s)-->
          <ul class="primary-nav">
            <li class="current"><a href="/index">Home</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
