<!DOCTYPE html>
<html lang="en">

<head>
    <title>Part List</title>
    <!--Put the style css in this file-->
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="https://unpkg.com/vue@next"></script>

</head>

<body>
    <div class="nav-bar">
        <li class="banner">Automotive part store </li>
        <li class="item" v-on:click="content='list'"> Products available </li>
        <li class="item" v-on:click="content='checkout'"> Cart </li>
    </div>
    <h3><br>Order Parts</h3>
    <div id="display"></div>
    <il>
        <% for (part in all) { %>
            <li>
                <%= all[part].description %>,
                    <%= all[part].price %>,
                        <%= all[part].weight %>,
                            <a href=<%=all[part].pictureURL %>>link</a>
            </li>
            <% }; %>
    </il>


    <script src="components/display.js"></script>
    <script src="components/checkout.js"></script>
    <script src="components/product.js"></script>
    <script>
        const mountedApp = display.mount('#display')
    </script>
</body>

</html>