<!DOCTYPE html>
<html lang="en">
    
<head>
    <title>Part List</title>
    <!--Put the style css in this file-->
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>
    <div id="app">
    <div class="nav-bar">
        <li class="banner">Automotive part store </li>
        <li class="item" v-on:click="content='list'"> Products available </li>
        <li class="item" v-on:click="content='checkout'"> Cart </li>
    </div>
    <h3><br>Order Parts</h3>
    <div v-model:class="display">
        <input placeholder="search"> Filter by Part Description
        <div v-if="search!= ''">List of parts that match your query:</div>
        <div v-else>All parts (enter search criteria above to filter results)</div><br>
    </div>
    </div>
    <il>
        <% for (part in all) { %>
            <li>
                <%= all[part].description %>,
                    <%= all[part].price %>,
                        <%= all[part].weight %>,
                            <a href=<%=all[part].pictureURL %>>link</a>
            </li>
            <% }; %>
    </il>
</body>

<script src="components/display.js"></script>
<script src="components/checkout.js"></script>
<script src="components/product.js"></script>

</html>