<html>

<template>
    <div class = "container">
        <Header />
    </div>
</template>

<head>
    <title>inventory</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <li><a href="/Order History">View Orders</a></li>
    
</head>

<body>
    <h3>Admin functions</h3>
    <label for="itemname"> Input Item Name here:</label>
    <input type="text" id="itemid" name="Price" required
       minlength="4" maxlength="10" size="16">
       <button onclick="PWUPDATE()">Submit</button>
    <label for="itemid"><br> Input Item Discription here:</label>
    <input type="text" id="itemid" name="Price" required
       minlength="4" maxlength="10" size="16">
     
    <button onclick=method"POST" href="receiving.js">Submit</button> 
</body>
</html>

}   