<!DOCTYPE html>
<html lang="en">
    
<head>
    <title>Warehouse</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>
    <h3>Warehouse functions</h3>
    <ul>
        <li><a href="/orders">Order fulliment</a></li>
        <li><a href="/">Warehouse receiving</a></li>
    </ul>
</body>

</html>