<html>

<head>
    <title>Warehouse</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
</head>

<body>
    <h3>Warehouse functions</h3>
    <ul>
        <li><a href="/">Order fulfillment</a></li>
        <li><a href="/">Warehouse receiving</a></li>
    </ul>
</body>

</html>