body {
    margin: 0;
}

.primary-nav {
    float: right;
}

.primary-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.navbar .logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;
    float: left;
  }
  




  .navbar .logo span {
    color: #00008B;
  }




h1 {
    position: relative;
    top: 100px;
}
