.nav-bar {
    position: fixed;
    top: 5px;
    right: 5px;
    left: 5px;
    background-color: lightblue;
    border: 3px black;
    border-width: medium;
    height: 35px;
    z-index: 10;
}

.nav-bar li {
    font-size: 25px;
    display:  inline;
    zoom: auto;
    list-style-type: none;
    margin: 3px;
    padding: 3px;
}

.item:hover {
    border: 1px black;
    cursor: pointer;

}

h3 {
    padding:auto;
}

ul {
    list-style-type: none;
}

il {
    list-style-type: none;
}

body {
    text-align: center;
    font-size: xx-large;
}

button {
   margin: 10px;
}

.part {
      margin: 10px;
      padding: 10x;
      border: 1px solid black;
      display: flex;
      align-items: center;
}
.part:hover {
      background-color:rgb(150, 149, 149); 
}

.information {
      display: flex;
      width: 20px;
      margin: 20px;
      text-align: center;
}


